.backButton {
    background-color: #605a53b0;
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 10px;
    border-color: #e0d0c19f;
    cursor: pointer;
}

.backButton:hover {
    color:#EAE6E5;
    background-color: #e0d0c19f;
}

.details {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.texts {
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    font-size: 20px;
}

.divimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

.detailImg {
    margin: 5px;
    display: flex;
    background-color: #EAE6E5;
    width: 600px;
    height: 370px;
    border-radius: 10px;
}

.ddsh {
    display: flex;
    justify-content: center;    
}

.dishesanddiets {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    background-color: #605a53b0;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    border-radius: 3px;    
    background-color: #605a53b0;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    border-radius: 3px;
    background-color: #605a53b0;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    font-style: Helvetica;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    border-radius: 3px;
    background-color: #605a53b0;
}
